<html>
    <head>
      {% if title %}
      <title>{{ title }} - nlp全场最靓的崽</title>
      {% else %}
      <title>Welcome to nlp文本分类</title>
      {% endif %}
    </head>
    <body>
        <div>Microblog: <a href="/index">首页</a></div>  <!---页面导航栏--->
        <a href="/login">文本分类Demo</a>  
        <hr>
        <!-- {% with messages = get_flashed_messages() %}  
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %} -->  <!--显示保存下来的信息-->
        {% block content %}{% endblock %}  <!---block 固定继承页面插代码的位置--->
    </body>
</html>