<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Home</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->

	<!-- Custom-Files -->
	<link rel="stylesheet" href="static/css/bootstrap.css">
	<!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="static/css/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href="static/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="static/css/codemirror.css">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->

	<link rel="stylesheet" href="static/js/codemirror/codemirror.min.css">
	<!-- <script src="static/js/codemirror/htmlmixed.min.js"></script> -->
	<script src="static/js/codemirror/codemirror.min.js"></script>
	<script src="static/js/codemirror/code_css.min.js"></script>
	<script src="static/js/codemirror/codemirror.js"></script>
	<script src="static/js/codemirror/javascript.js"></script>
	<script src="static/js/codemirror/code_javascript.min.js"></script>
	<script src="static/js/codemirror/code_xml.min.js"></script>
	<script src="static/js/codemirror/code_closetag.min.js"></script>
	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
	<script src="static/js/codemirror/code_closebrackets.min.js"></script> 

	<!-- Web-Fonts -->
	<link href="http://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext"
	 rel="stylesheet">
	<!-- //Web-Fonts -->
</head>

<body>
	<style>
		body{min-height:300px;background: #f6f6f6;}.container{width:98%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
		.CodeMirror{min-height:300px;;font-family: Menlo,Monaco,Consolas,"Andale Mono","lucida console","Courier New",monospace;}
	</style>
	<!-- main banner -->
	<div class="main-top" id="home">
		<!-- header -->
		<header>
			<div class="container-fluid">
				<div class="header d-lg-flex justify-content-between align-items-center py-3 px-sm-3">
					<!-- logo -->
					<div id="logo">
						<h1><a href="deobfucation.html"><span class="fa fa-linode mr-2"></span>NLP文本分类</a></h1>
					</div>
					<!-- //logo -->
					<!-- nav -->
					<div class="nav_w3ls">
						<nav>
							<label for="drop" class="toggle">Menu</label>
							<input type="checkbox" id="drop" />
							<ul class="menu">
								<!-- <li><a href="evaluation.html">评估</a></li> -->
							</ul>
						</nav>
					</div>
					<!-- //nav -->
					<div class="d-flex mt-lg-1 mt-sm-2 mt-3 justify-content-center">
						<input type="file" name="upload" id="upload" accept="text/plain" style="position:absolute; opacity:0;"/>
						<span class="fa fa-upload"></span>
					</div>
				</div>
			</div>
		</header>
		<!-- //header -->
	</div>

	<!-- services -->
	<div class="banner_w3lspvt bg-secondary py-5" id="services">
		<div class="container py-xl-5 py-lg-3">
				<div class="row">
     
						<div class="col-sm-6">
						<div class="panel panel-default"> 
							<div class="panel-heading">
								<form class="form-inline">
									<div class="row">
										<div class="col-xs-6">
											<button type="button" onclick="resetCode()" class="btn btn-default">源文本：</button>
										</div>
										<div class="text-right">
											<button type="button" class="btn btn-success ml-1" onclick="dopost('/classifier')" id="submitBTN"><span class="glyphicon glyphicon-send"></span>分类</button>
										</div>
									</div>
								</form>
							</div>
							<div class="panel-body">
								<textarea class="form-control"  id="textareaCode" name="textareaCode">Please Input Your Text;</textarea> 
							</div>
						</div>
						</div>
					
						<div class="col-sm-6">
						<div class="panel panel-default"> 
							<div class="panel-heading"><form class="form-inline"> <button type="button" class="btn btn-default">分类结果</button></form></div>
							<!-- <div class="panel-body"><div id="iframewrapper"></div></div> -->
							<div class="panel-body"><textarea class="form-control" readonly="readonly" id="iframewrapper" ></textarea></div>
						</div>
						</div>
						
						</div>
		</div>
	</div>
	<!-- //services -->
</body>


<script>
	var editor = CodeMirror.fromTextArea(document.getElementById("textareaCode"), {
		mode: "text/javascript",
		selectionPointer: true,
		lineNumbers: true,
		matchBrackets: true,
		indentUnit: 4,
		indentWithTabs: true
	});

	var res_editor = CodeMirror.fromTextArea(document.getElementById("iframewrapper"), {
		mode: "text/javascript",
		selectionPointer: true,
		lineNumbers: true,
		matchBrackets: true,
		indentUnit: 4,
		indentWithTabs: true
	});

	window.addEventListener("resize", autodivheight);

	function dopost(url){
		// var origin_code = document.getElementById('textareaCode').value;
		var origin_code = editor.getValue();
		var text = {"code": origin_code};
		var xmlhttp;
		if (window.XMLHttpRequest) { // code for IE7+, Firefox, Chrome, Opera, Safari
    		xmlhttp = new XMLHttpRequest();
  		} else { // code for IE6, IE5
    		xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
		}
		xmlhttp.onreadystatechange = function(){
			if(xmlhttp.readyState == 4 && xmlhttp.status == 200){  //4 - 响应发送完成  200  - 服务器内部一切正常
				console.log('response success')
				var res_obj = xmlhttp.responseText;
				console.log("response data is ", res_obj)
				// var deob_code = JSON.parse(res_obj);  
				// alert(deob_code.message);
				update_res(res_obj);
			}
		}
		console.log("here")
		xmlhttp.open("POST", url, true);
		xmlhttp.setRequestHeader("Content-type", 'application/x-www-form-urlencoded;charset=UTF-8');
		xmlhttp.send("name=" + origin_code);
		console.log(text, 'this is the information');
	}

	var x = 0;
	function autodivheight(){
		var winHeight=0;
		if (window.innerHeight) {
			winHeight = window.innerHeight;
		} else if ((document.body) && (document.body.clientHeight)) {
			winHeight = document.body.clientHeight;
		}
		//通过深入Document内部对body进行检测，获取浏览器窗口高度
		if (document.documentElement && document.documentElement.clientHeight) {
			winHeight = document.documentElement.clientHeight;
		}
		height = winHeight*0.68
		editor.setSize('100%', height);
		res_editor.setSize('100%', height);
		// document.getElementById("iframeResult").style.height= height +"px";
	}
	function resetCode() {
		var initCode = "Please input your text";  
		editor.getDoc().setValue(initCode);		
		res_editor.getDoc().setValue(" ");
		// submitTryit();
	}

	window.onload = function(){
		var getFileContent = function (fileInput, callback) {
            if (fileInput.files && fileInput.files.length > 0 && fileInput.files[0].size > 0) {
                //下面这一句相当于JQuery的：var file =$("#upload").prop('files')[0];
                var file = fileInput.files[0];
                if (window.FileReader) {
                    var reader = new FileReader();
                    reader.onloadend = function (evt) {
                        if (evt.target.readyState == FileReader.DONE) {
                            callback(evt.target.result);
                        }
                    };
                    // 包含中文内容用gbk编码
                    reader.readAsText(file, 'utf-8');
                }
            }
		};
		
		document.getElementById('upload').onchange = function () {
            getFileContent(this, function (str) {
                editor.getDoc().setValue(str);
            });
        };
	};

	function update_res(text) {
		res_editor.getDoc().setValue(text);
		autodivheight();
	}
	autodivheight();
</script>

</html>