{% extends "base.html" %}

{% block content %}
    <h1>nlp文本分类展示</h1>
    <form action="" method="post" novalidate>  <!--form为web表单的容器，使用post发送-->
        <!--action为空时，请求提交到当前页面-->
        {{ form.hidden_tag() }} <!--form为Loginform的实例化，需要传进来， 生成了一个隐藏字段，其中包含一个用于保护表单免受CSRF攻击的token-->
       <p>
            {{ form.Ori_Text.label }}<br>
            {{ form.Ori_Text(size=32) }}
            {% for error in form.Ori_Text.errors %}  <!--错误处理-->
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.Result.label }}<br>
            {{ form.Result(readonly="readonly") }}        
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
